{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入</title>
    {{bootstrap.load_css()}}
    
</head>
<body>
   
    {% block title %}Login Page{% endblock %}
    
    {% block content %}
    <div class="form-group col-md-4">
       <h1> 帳號登入 </h1>
       {{ render_form(form) }}
    </div>
    <div>
        <a href="/register" style="margin: 10px" >沒有會員，點這註冊！</form>
        
    </div>
    {% endblock content%}
 
</body>
</html>